<section class="banner-inner banner-inner-bg about-main-banner">
        <div class="banner-overlay-image">
            <img src="https://champion.dieselhausdev.com/images/about-banner.png" alt="banner">
        </div>
        <div class="banner-inner-image about-banner">
            <img src="https://champion.dieselhausdev.com/images/about-right.png" alt="common-parts-image">
        </div>
        <div class="container inner-banner-container">
            <div class="row inner-banner-row">
                <div class="col-md-9 banner-cnt-col ">
                    <div class="inner-banner-dtls">
                        <h1 class="display-head">{{ page.title }}</h1>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><span>/</span></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="grunge-black">
            <img src="https://champion.dieselhausdev.com/images/grunge-inner-right.png" alt="">
        </div>
    </section>
    <section class="shop-section shop-main-bg about-content-banner">
        <div class="about-mid-top">
            <div class="container">
             <div class="row about-top-content">
                <div class="col-md-4">
                    <img src="https://champion.dieselhausdev.com/images/champian.png">
                </div>
                <div class="col-md-8">
                    <h2 class="display-head">about <br>champion cobra</h2>
                    <p>Cobra MOTO produces premium race-ready mini motocross bikes for youth riders that are serious about competing. Our three models offer the most competitive performance in the mini category, with Cobras claiming more than 300 national titles since the company was founded in 1993. Cobra Motorcycles is the only  producer of competition off-road motorcycles that are truly “Made in the U.S.A.”</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-mid-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3  class="display-head">the cobra beginning</h3>
                    <p>Bud Maimone, who owned a tool and die shop, raced with his son Brent in the fledgling 50cc class during the early 1990s. In those days there was no out-of-the-crate solution for purchasing a race bike.  The class was made up of highly modified recreational models, and Bud got tired of seeing bikes breaking and kids being heartbroken after all the money and effort that went into race preparation. After trying to convince several manufacturers to produce a race-ready bike, Bud finally took the plunge himself when all of his avenues were exhausted. What resulted was a dynamite little bike that won its first Loretta Lynn’s AMA championship in its debut outing the summer of 1994. That win was not without controversy, as some didn’t believe that Cobra had built the required number of motorcycles required for homologation. However, several months later the title was reinstated, and the march of little yellow bikes had begun!</p>
                    <p>In the ensuring years, many of the world’s top professional racers would get their start on a Cobra… Names like Millsaps, Baggett, Izzy, Canard, Durham, Tomac, Sipes, Dungey, Alessi, Cianciarulo, Webb, Osborne, Bell, Bowers, Chisholm, and Hackley all have raced and won on Cobras early in their careers.Adam_Cianciarulo_Cobra_MotoCobra originally made its </p>
                </div>
            </div>
        </div>
        <div class="about-mid-image">
            <img src="https://champion.dieselhausdev.com/images/about-mid-image.png">
        </div>
    </div>

</section>

<section class="about-bottom-content">
  <div class="container">
      <div class="row">
      <div class="about-bottom-top-section">
          <p>home in the Youngstown, Ohio area, but in 2006, along with a new management team, it opened its doors to a new factory in Hillsdale, Michigan. The new plant houses all of Cobra’s operations including engineering, R&D, business operations, machining, welding, and assembly.</p>
          <p>Over the past two decades, Cobra has developed a unique set of capabilities that is difficult to match. Cobra doesn’t just assemble bikes; we design and manufacture the vast majority of our own components including frames, engines, and suspension. This allows us not only to be very innovative, but it provides the agility necessary to always be on the cutting edge. Cobra can do everything from its own engine design and development to building plastics molds to designing and manufacturing the finest minicycle suspension components in the world. Furthermore, this business is a true passion for us. All we think about day and night is how to make a better minicycle… we’re not burdened with road bikes, high maintenance pro teams, or a stifling corporate environment. That translates into being able to offer our customers the finest products on the market, and we back that up with world-class customer service.</p>
      </div>
  </div>
      <div class="about-bottom-bootom-section">
          <h2 class="display-head">the cobra future</h2>
          <p>For Cobra, the future is still firmly rooted in designing, manufacturing, and distributing the finest competition minicycles in the world. We’ll do this through intense focus on our market, our customers, and our products.<br>
          On the product front, our latest move is to establish CARD Performance, LLC; an entity dedicated to designing and developing suspension components that are purpose-fit for minicycle competition. In the past, when we purchased suspension from existing suppliers, we received little more than components that were re-sized for use on a smaller platform. The result was less than optimal since these companies were more interested in big bikes. Now, through CARD Performance, we have the freedom to re-think suspension design as it applies to minicycles, and the results have been nothing short of amazing! Take for example, the CARD 37mm front fork. With one conventionally damped leg, and one MXT ‘Smart leg’ that is dedicated to bottoming control, the entire function of the front fork has been re-invented. Now small bikes (navigating tracks ripped up by big bikes) can conquer terrain like never before. This translates into improved rider confidence and lower lap times.</p>

          <p>On the engine front, Cobra continues to be an innovator. Our current CX65 engine is one of the most technically advanced two-stroke power plants on the planet, and innovations like our patent-pending two-piece cylinder and direct acting computer controlled power valve have met with rave reviews in the marketplace and with the motorcycle press. Motocross Action Magazine recently said, “Every test rider agreed the CX65 ran like a scalded cat. The power plant was the testers’ favorite attribute of the bike. The engine has bottom-end hit and a solid pull through the range. Power really spikes once the electronic power valve opens, and it surges into the top end.” We couldn’t have said it better ourselves!</p>

          <p>As for other models and other markets, all we’ll say for now is that we are constantly thinking, dreaming, and working on what’s next. Our goal will always be to design and develop products that offer the best combination of performance, ease of maintenance, and great styling. Stay tuned right here to catch a first cut at what’s next!</p>
      </div>
  </div>
</section>

{% section 'about-page' %}